#contact_admin {
	background-color: #3524EFFF;
	width: 30%;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;

}

#adminForm {
	box
}

#adminForm form {
	display: none;
	position: relative;
}